.main-buttons{
    position: relative;
    right: 704px;
    bottom: 38px;
}



main img {
    position: absolute;
    height: 550px;
    width: 390px;
    top: -10px;
}

.button1 {
    position: absolute;
    width: 23px;
    height: 23px;
    left: 775px;
    top: 90px;
    border: solid;
    background-color: aliceblue;
    border-radius: 8px;
}

.button1 p{
    position: absolute;
    width: 12.6px;
    height: 28.4px;
    left: 5px;
    bottom: -9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;

}


.button1:hover{
    background-color: blue !important;
    border-radius: 10px;
    transition: 0.8s;
}


.button2 {
    position: absolute;
    width: 23px;
    height: 23px;
    left: 775px;
    top: 115px;
    border: solid;
    background-color: aliceblue;
    border-radius: 8px;
}

.button2 p{
    position: absolute;
    width: 12.6px;
    height: 28.4px;
    left: 5px;
    bottom: -9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;

}


.button2:hover{
    background-color: blue !important;
    border-radius: 10px;
    transition: 0.8s;
}

.button3 {
    position: absolute;
    width: 23px;
    height: 23px;
    left: 790px;
    top: 150px;
    border: solid;
    background-color: aliceblue;
    border-radius: 8px;
}

.button3 p{
    position: absolute;
    width: 12.6px;
    height: 28.4px;
    left: 5px;
    bottom: -9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;

}


.button3:hover{
    background-color: blue !important;
    border-radius: 10px;
    transition: 0.8s;
}

.button4 {
    position: absolute;
    width: 23px;
    height: 23px;
    left: 815px;
    top: 150px;
    border: solid;
    background-color: aliceblue;
    border-radius: 8px;
}

.button4 p{
    position: absolute;
    width: 12.6px;
    height: 28.4px;
    left: 5px;
    bottom: -9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;

}


.button4:hover{
    background-color: blue !important;
    border-radius: 10px;
    transition: 0.8s;
}


.button5 {
    position: absolute;
    width: 23px;
    height: 23px;
    left: 790px;
    top: 185px;
    border: solid;
    background-color: aliceblue;
    border-radius: 8px;
}

.button5 p{
    position: absolute;
    width: 12.6px;
    height: 28.4px;
    left: 5px;
    bottom: -9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;

}


.button5:hover{
    background-color: blue !important;
    border-radius: 10px;
    transition: 0.8s;
}


.button6 {
    position: absolute;
    width: 23px;
    height: 23px;
    left: 815px;
    top: 185px;
    border: solid;
    background-color: aliceblue;
    border-radius: 8px;
}

.button6 p{
    position: absolute;
    width: 12.6px;
    height: 28.4px;
    left: 5px;
    bottom: -9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;

}


.button6:hover{
    background-color: blue !important;
    border-radius: 10px;
    transition: 0.8s;
}


.button7 {
    position: absolute;
    width: 23px;
    height: 23px;
    left: 770px;
    top: 208px;
    border: solid;
    background-color: aliceblue;
    border-radius: 8px;
}

.button7 p{
    position: absolute;
    width: 12.6px;
    height: 28.4px;
    left: 5px;
    bottom: -9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;

}


.button7:hover{
    background-color: blue !important;
    border-radius: 10px;
    transition: 0.8s;
}


.button8 {
    position: absolute;
    width: 23px;
    height: 23px;
    left: 770px;
    top: 233px;
    border: solid;
    background-color: aliceblue;
    border-radius: 8px;
}

.button8 p{
    position: absolute;
    width: 12.6px;
    height: 28.4px;
    left: 5px;
    bottom: -9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;

}


.button8:hover{
    background-color: blue !important;
    border-radius: 10px;
    transition: 0.8s;
}

.button9 {
    position: absolute;
    width: 23px;
    height: 23px;
    left: 770px;
    top: 265px;
    border: solid;
    background-color: aliceblue;
    border-radius: 8px;
}

.button9 p{
    position: absolute;
    width: 12.6px;
    height: 28.4px;
    left: 5px;
    bottom: -9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;

}


.button9:hover{
    background-color: blue !important;
    border-radius: 10px;
    transition: 0.8s;
}

.button10 {
    position: absolute;
    width: 23px;
    height: 23px;
    left: 790px;
    top: 295px;
    border: solid;
    background-color: aliceblue;
    border-radius: 8px;
}

.button10 p{
    position: absolute;
    width: 12.6px;
    height: 28.4px;
    left: 5px;
    bottom: -9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;

}


.button10:hover{
    background-color: blue !important;
    border-radius: 10px;
    transition: 0.8s;}

.button11 {
    position: absolute;
    width: 23px;
    height: 23px;
    left: 755px;
    top: 295px;
    border: solid;
    background-color: aliceblue;
    border-radius: 8px;
}

.button11 p{
    position: absolute;
    width: 12.6px;
    height: 28.4px;
    left: 5px;
    bottom: -9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;

}


.button11:hover{
    background-color: blue !important;
    border-radius: 10px;
    transition: 0.8s;}



.button12 {
    position: absolute;
    width: 23px;
    height: 23px;
    left: 730px;
    top: 295px;
    border: solid;
    background-color: aliceblue;
    border-radius: 8px;
}

.button12 p{
    position: absolute;
    width: 12.6px;
    height: 28.4px;
    left: 5px;
    bottom: -9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;

}


.button12:hover{
    background-color: blue !important;
    border-radius: 10px;
    transition: 0.8s;}


.button13 {
    position: absolute;
    width: 23px;
    height: 23px;
    left: 730px;
    top: 323px;
    border: solid;
    background-color: aliceblue;
    border-radius: 8px;
}

.button13 p{
    position: absolute;
    width: 12.6px;
    height: 28.4px;
    left: 5px;
    bottom: -9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;

}


.button13:hover{
    background-color: blue !important;
    border-radius: 10px;
    transition: 0.8s;}


.button14 {
    position: absolute;
    width: 23px;
    height: 23px;
    left: 755px;
    top: 323px;
    border: solid;
    background-color: aliceblue;
    border-radius: 8px;
}

.button14 p{
    position: absolute;
    width: 12.6px;
    height: 28.4px;
    left: 5px;
    bottom: -9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;

}


.button14:hover{
    background-color: blue !important;
    border-radius: 10px;
    transition: 0.8s;}



.button15 {
    position: absolute;
    width: 23px;
    height: 23px;
    left: 770px;
    top: 370px;
    border: solid;
    background-color: aliceblue;
    border-radius: 8px;
}

.button15 p{
    position: absolute;
    width: 12.6px;
    height: 28.4px;
    left: 5px;
    bottom: -9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;

}


.button15:hover{
    background-color: blue !important;
    border-radius: 10px;
    transition: 0.8s;}


.button16 {
    position: absolute;
    width: 23px;
    height: 23px;
    left: 800px;
    top: 370px;
    border: solid;
    background-color: aliceblue;
    border-radius: 8px;
}

.button16 p{
    position: absolute;
    width: 12.6px;
    height: 28.4px;
    left: 5px;
    bottom: -9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;

}


.button16:hover{
    background-color: blue !important;
    border-radius: 10px;
    transition: 0.8s;}



.button17 {
    position: absolute;
    width: 23px;
    height: 23px;
    left: 830px;
    top: 370px;
    border: solid;
    background-color: aliceblue;
    border-radius: 8px;
}

.button17 p{
    position: absolute;
    width: 12.6px;
    height: 28.4px;
    left: 5px;
    bottom: -9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;

}


.button17:hover{
    background-color: blue !important;
    border-radius: 10px;
    transition: 0.8s;}


.button18 {
    position: absolute;
    width: 23px;
    height: 23px;
    left: 770px;
    top: 395px;
    border: solid;
    background-color: aliceblue;
    border-radius: 8px;
}

.button18 p{
    position: absolute;
    width: 12.6px;
    height: 28.4px;
    left: 5px;
    bottom: -9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;

}


.button18:hover{
    background-color: blue !important;
    border-radius: 10px;
    transition: 0.8s;}


.button19 {
    position: absolute;
    width: 23px;
    height: 23px;
    left: 800px;
    top: 395px;
    border: solid;
    background-color: aliceblue;
    border-radius: 8px;
}

.button19 p{
    position: absolute;
    width: 12.6px;
    height: 28.4px;
    left: 5px;
    bottom: -9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;

}


.button19:hover{
    background-color: blue !important;
    border-radius: 10px;
    transition: 0.8s;}


.button20 {
    position: absolute;
    width: 23px;
    height: 23px;
    left: 830px;
    top: 395px;
    border: solid;
    background-color: aliceblue;
    border-radius: 8px;
}

.button20 p{
    position: absolute;
    width: 12.6px;
    height: 28.4px;
    left: 5px;
    bottom: -9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;

}


.button20:hover{
    background-color: blue !important;
    border-radius: 10px;
    transition: 0.8s;}


.button21 {
    position: absolute;
    width: 23px;
    height: 23px;
    border-radius: 8px;
    left: 980px;
    top: 345px;
    border: solid;
    background-color: aliceblue;
}

.button21 p{
    position: absolute;
    width: 12.6px;
    height: 28.4px;
    left: 5px;
    bottom: -9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;
}


.button21:hover{
    background-color: blue !important;
    border-radius: 10px;
    transition: 0.8s;}


.button22 {
    position: absolute;
    width: 23px;
    height: 23px;
    left: 1010px;
    top: 345px;
    border: solid;
    background-color: aliceblue;
    border-radius: 8px;
}

.button22 p{
    position: absolute;
    width: 12.6px;
    height: 28.4px;
    left: 5px;
    bottom: -9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;
}


.button22:hover{
    background-color: blue !important;
    border-radius: 5px;
    transition: 0.8s;}


.button23 {
    position: absolute;
    width: 23px;
    height: 23px;
    border-radius: 8px;
    left: 1010px;
    top: 375px;
    border: solid;
    background-color: aliceblue;
}

.button23 p{
    position: absolute;
    width: 12.6px;
    height: 28.4px;
    left: 5px;
    bottom: -9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;
}


.button23:hover{
    background-color: blue !important;
    border-radius: 5px;
    transition: 0.8s;}


.button24 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 1003px;
    top: 238px;
    border: solid;
    background-color: aliceblue;
    border-radius: 4px;
}

.button24 p{
    position: absolute;
    width: 12.6px;
    height: 28.4px;
    left: 0px;
    bottom: -11px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 40px;
}


.button24:hover{
    background-color: blue !important;
    border-radius: 5px;
    transition: 0.8s;}


.button25 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 1018px;
    top: 238px;
    border: solid;
    background-color: aliceblue;
    border-radius: 4px;
}

.button25 p{
    position: absolute;
    width: 12.6px;
    height: 28.4px;
    left: 0px;
    bottom: -11px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 40px;
}


.button25:hover{
    background-color: blue !important;
    border-radius: 5px;
    transition: 0.8s;}



.button26 {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 4px;
    left: 1003px;
    top: 260px;
    border: solid;
    background-color: aliceblue;

}

.button26 p{
    position: absolute;
    width: 12.6px;
    height: 28.4px;
    left: 0px;
    bottom: -11px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 40px;
}


.button26:hover{
    background-color: blue !important;
    border-radius: 4px;
    transition: 0.8s;}



.button27 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 1018px;
    top: 260px;
    border: solid;
    background-color: aliceblue;
    border-radius: 4px;
}

.button27 p{
    position: absolute;
    width: 12.6px;
    height: 28.4px;
    left: 0px;
    bottom: -11px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 40px;
}


.button27:hover{
    background-color: blue !important;
    border-radius: 4px;
    transition: 0.8s;}



.button28 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 1040px;
    top: 237px;
    border: solid;
    border-radius: 4px;

}

.button28 p{
    position: absolute;
    width: 12.6px;
    height: 28.4px;
    left: 0px;
    bottom: -11px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 40px;
}


.button28:hover{
    background-color: blue !important;
    border-radius: 4px;
    transition: 0.8s;}


.button29 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 1055px;
    top: 237px;
    border: solid;
    border-radius: 4px;

}

.button29 p{
    position: absolute;
    width: 12.6px;
    height: 28.4px;
    left: 0px;
    bottom: -11px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 40px;
}


.button29:hover{
    background-color: blue !important;
    border-radius: 4px;
    transition: 0.8s;}


.button30 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 1040px;
    top: 252px;
    border: solid;
    border-radius: 4px;

}

.button30 p{
    position: absolute;
    width: 12.6px;
    height: 28.4px;
    left: 0px;
    bottom: -11px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 40px;
}


.button30:hover{
    background-color: blue !important;
    border-radius: 4px;
    transition: 0.8s;}


.button31 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 1055px;
    top: 252px;
    border: solid;
    border-radius: 4px;

}

.button31 p{
    position: absolute;
    width: 12.6px;
    height: 28.4px;
    left: 0px;
    bottom: -11px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 40px;
}


.button31:hover{
    background-color: blue !important;
    border-radius: 4px;
    transition: 0.8s;}


.button32 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 1040px;
    top: 267px;
    border: solid;
    border-radius: 4px;

}

.button32 p{
    position: absolute;
    width: 12.6px;
    height: 28.4px;
    left: 0px;
    bottom: -11px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 40px;
}


.button32:hover{
    background-color: blue !important;
    border-radius: 4px;
    transition: 0.8s;}


.button33 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 1055px;
    top: 267px;
    border: solid;
    border-radius: 4px;

}

.button33 p{
    position: absolute;
    width: 12.6px;
    height: 28.4px;
    left: 0px;
    bottom: -11px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 40px;
}


.button33:hover{
    background-color: blue !important;
    border-radius: 4px;
    transition: 0.8s;}